main{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}

#resultado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: aliceblue;
    width: 30vw;
    height: 10vh;
    margin-top: 3vh;
}